
<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link" type="button" class="btn btn-primary"   href="/login">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"  class="btn btn-secondary"  href="/registration">Register</a>
  </li>
</ul>
<!-- <li class="nav-item">
  <a class="nav-link"  class="btn btn-secondary"  href="/employer">Remter</a>
</li> -->

<router-outlet>
  <!-- <a routerLink="/login">login</a>
<a routerLink="/registration">Register</a> -->
<!-- <button   type="button"  class="btn btn-primary">Login</button>
<button type="button" class="btn btn-secondary">Register</button> -->
<!-- <ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link" type="button" class="btn btn-primary"   href="/login">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"  class="btn btn-secondary"  href="/registration">Register</a>
  </li>
</ul>
<li class="nav-item">
  <a class="nav-link"  class="btn btn-secondary"  href="/employer">Remter</a>
</li> -->

</router-outlet>
