<div> 
    <h2> post a job
     </h2>

     <form method="post">
        <div class="form-group">
          <label for="jobName">Job Name:</label>
          <input type="text" [(ngModel)]="jobName" name="jobName" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="salary">Salary:</label>
          <input type="number" [(ngModel)]="salary" name="salary" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="location">Location:</label>
          <input type="text" [(ngModel)]="location" name="location" class="form-control" required>
        </div>
        <div class="form-group">        
          <label for="skills">Skills:</label>
          <textarea [(ngModel)]="skills" name="skills" class="form-control" rows="4" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    
</div>